AddType application/javascript .jsx
AddType application/javascript .js
AddType text/css .css

# Handle client-side routing
RewriteEngine On
RewriteBase /evolux360-dev/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /evolux360-dev/index.html [L]